img {
  max-width: 20%;
  max-height: 20%;
}

.icelandresult {
  display:  none;
}

.rioresult {
  display:  none;
}

.sbresult {
  display:  none;
}

.jumbotron {
  opacity: 0.6%;
  background-size: cover;
  background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)) ,url("../img/travell.jpg");
  background-position: center;
}

h3 {
  text-align: center;
}
h1 {
  text-align: center;
}

body {
  background-color: #42f4c2;
}

.well {
  background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)) ,url("../img/travel.png");
  background-size: cover; float: left;
}

ol {
  font-size: 20px;
}
